<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GXClacOnly</title>
</head>
<body>

    <div>
        <br /><br />
        <script type="text/javascript">
            oQuickReply.swap('somid');
        </script>
        <form>
            <fieldset>
                <legend>GX Calculator</legend>

                <select id="sender" name="sender">
                    <option value="" disabled selected>Sender's postcode</option>
                    <option value="E18 2BJ">E18 2BJ</option>
                    <option value="MK42 0EU">MK42 0EU</option>
                    <option value="MK12 7DD">MK12 7DD</option>
                    <option value="E11 1AA">E11 1AA</option>
                </select>

                <br />


                <select id="receiverCountry" name="receiverCountry">
                    <option value="" disabled selected>Receiver's Country</option>
                    <option value="E18 2BJ">America</option>
                    <option value="MK42 0EU">Germanu</option>
                    <option value="MK12 7DD">India</option>
                    <option value="E11 1AA">New Zeland</option>
                </select>

                <br />

                <select id="receiverRegion" name="receiverRegion" onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                    <option value="" disabled selected>Receiver's Region</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>
                    <option value="E18 2BJ">New Delhi</option>
                    <option value="MK42 0EU">Bangalore</option>
                    <option value="MK12 7DD">Calcutta</option>
                    <option value="E11 1AA">Chennai</option>

                </select>

                <br />
                <input type="text" placeholder="dd/mm/yyyy">

                <br />
                <input type="submit" value="Submit" id="SubmitGXClac">

            </fieldset>
        </form>
    </div>

</body>
</html>





@section scripts
{
    <script type="text/javascript">



    </script>
}